<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="UTF-8">
        <title>Login2</title>
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

        <!--LLamamos el Bootstrap 3.3.4-->
        <link href="{{ asset('libs/AdminLTE-2.2.0/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">

        <!--Estilo del Tema-->
        <link href="{{ asset('libs/AdminLTE-2.2.0/dist/css/AdminLTE.min.css') }}" rel="stylesheet" type="text/css">

        <!--Check-->
        <link href="{{ asset('libs/AdminLTE-2.2.0/plugis/iCheck/square/blue.css') }}" rel="stylesheet" type="text/css">
    </head>
    <body class="" background="{{ asset('/images/background.jpg') }}">
        <div class="container" style="margin-left: auto; margin-right: auto">
                <div class="row" style="margin-left: -30px">
                    <div class="span12">
                        <div class="clear-form two-col" style="max-width: 600px; border-radius: 6px; display: block">
                            <div class="form-heading" style="padding: 15px 35px; margin-bottom: 0px">
                                <h3 class="header" style="margin: 10px 0px 0px; color: #4d4d4d; text-shadow: #fff 0 1px 0;">Sign In</h3>
                                <hr>
                            </div>
                            <div class="" style="padding: 0px 35px 35px; width: 215px;">
                                <img src="{{ asset('images/LogoCeniuesTransparente.png') }}">
                            </div>
                            <div class="">
                                <div class="form-heading">
                                    <h4 class="header">Using your account</h4>
                                </div>
                                <div class="form-body">
                                    <div class="pair-group">
                                        <input type="text" class="input-block-level" placeholder="Email address">
                                        <input type="password" class="input-block-level" placeholder="Password">
                                    </div>
                                </div>
                                <div class="form-footer">
                                    <button class="btn btn-large btn-blue btn-block" type="submit">Sign In</button>
                                    <p class="center">
                                        <a href="#">Forgot your password?</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </body>
</html>