<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <!--LLamamos el Bootstrap 3.3.4-->
    <link href="{{ asset('libs/AdminLTE-2.2.0/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">

    <!--Estilo del Tema-->
    <link href="{{ asset('libs/AdminLTE-2.2.0/dist/css/AdminLTE.min.css') }}" rel="stylesheet" type="text/css">

    <!--Check-->
    <link href="{{ asset('libs/AdminLTE-2.2.0/plugis/iCheck/square/blue.css') }}" rel="stylesheet" type="text/css">
</head>
<body class="login-page">
<section class="content">
<div class="row">
    <!-- Logo del login xD -->
    <div class="col-md-6 pull-left">
        <center><img src="{{ asset('/images/LogoCeniuesTransparente.png') }}" vspace="8%"></center>
    </div>
    <div class="col-md-6 pull-right">
        <div class="login-box bg-green">
        <!--Cuerpo del Login Logo-->
            <div class="login-logo">
                <b>Inicio de Sesion</b>
            </div>
            <!--Finaliza Cuerpo de Login Logo-->
            <div class="login-box-body bg-navy">
                <p class="login-box-msg">Ingresar Datos para Iniciar Sesion</p>

                <!--Se verifica que no exista ningun error dentro de la pagina-->
                {% if error %}
                    <div>{{ error.messageKey|trans(error.messageData,'security') }}</div>
                {% endif %}
                <!--Formulario para ingreso de datos -->
                <form action="{{ path('login_check') }}" method="post">

                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" placeholder="Email" name="_username" value="{{ last_username }}">
                                <span class="glyphicon glyphicon-envelope form-control-feedback">
                                </span>
                    </div>

                    <div class="form-group has-feedback">
                        <input type="password" class="form-control" placeholder="Password" name="_password">
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    </div>

                    <div class="row">
                        <div class="col-xs-6">

                            <input type="hidden" name="_target_path" value="">

                            <button type="submit" class="btn btn-primary btn-block btn-flat">
                                Iniciar
                            </button>
                        </div>

                        <div class="col-xs-6">
                            <button type="submit" class="btn btn-primary btn-block btn-flat">
                                Cancelar
                            </button>
                        </div>
                    </div>
                </form>
                <!--Finaliza el formulario para el ingreso de datos-->

                <!--Inicia funciones auxiliares del inicio de sesion-->

                <a href="#">Olvide mi clave</a>
                <br>
                <a href="#">Registrarse como usuario</a>

            </div>
    </div>
    </div>
</div>
</section>
</body>


</html>