{% extends "::layoutbase.html.twig" %}

{% block principal %}
    <head>
        <script src="{{ asset("libs/AdminLTE-2.2.0/plugins/jQuery/jQuery-2.1.4.min.js") }}" type="text/javascript"></script>
    </head><section class="content">

    <div class="row">
        <div class="col-xs-6">
            {% for flashMessage in app.session.flashbag.get('mensaje') %}
                <br>
                <div class="alert alert-success fade in">
                        <span class="close" data-dismiss="alert">
                            &times;
                        </span>
                    {{ flashMessage }}
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Administrar Notas</h3>
                </div>

                <form role="form" method="POST" action="{{ path("ingresarnotas") }}">
                    <div class="box-body">
                        <div class="form-group col-sm-12">
                            <div class="col-sm-6">
                                <div class="form-group">

                                    <label>Nivel</label>
                                    <select class="form-control" id="snivel" name="snivel">
                                        {% for nivel in niveles %}
                                            <option value="{{ nivel.idnivel }}">{{ nivel.nombrenivel }}</option>
                                        {% endfor %}
                                        <option>Nivel de Prueba 2</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Clase</label>
                                    <select class="form-control" id="sclase" name="sclase">

                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <button class="btn btn-info" type="submit">Buscar</button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

        {% if alumnos is defined%}
            <div class="col-xs-12">
            <div class="box">

                <!--Inicia Cabecera de tabla-->
                <div class="box-header">
                    <h3 class="box-title">Listado de Notas de Alumnos CENIUES</h3>
                </div>
                <!--Finaliza Cabecera de tabla-->

                <!--Inicia cuerpo de tabla-->
                <div class="box-body table-responsive">
                    <table class="table table-bordered table-hover dataTable">
                        <thead>
                        <th>CARNET</th>
                        <th>ESTUDIANTE</th>
                        <th>EV.1</th>
                        <th>EV.2</th>
                        <th>EV.3</th>
                        <th>EV.4</th>
                        <th>EV.5</th>
                        <td>NOTA FINAL</td>
                        </thead>
                        <tbody>
                        {# Creo un Alumno Base para saber si no es el mismo#}
                        {% set d=al %}
                        {% for resultado in alumnos %}
                            {# comparo si es el mismo para solo imprimir esa info una vez#}
                            {% if resultado.alumnoCarnetalumno!=d%}
                                <tr>{% set d=resultado.alumnoCarnetalumno %}
                                    <td>{{ resultado.alumnoCarnetalumno.carnetalumno }}</td>
                                    <td>{{ resultado.alumnoCarnetalumno.primernombrealumno }} {{ resultado.alumnoCarnetalumno.primerapellidoalumno }}</td>
                                    {#recorro de nuevo para obtener las notas#}
                                    {% for resultado in alumnos %}
                                        {% if resultado.alumnoCarnetalumno==d %}<td><input value="{{ resultado.alumnoCarnetalumno.carnetalumno }}" hidden>{{ resultado.nota }}</td>{% endif %}
                                    {% endfor %}
                                </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!--Finaliza Cuerpo de tabla-->
            </div>
            </div>
        {% endif %}
    </section>

    <script>
        $('document').ready(function(){
            $("#snivel").change(function(){
                var niv = $(this).val();

                if(niv>0){

                    var datos ={
                        idniv : $(this).val()
                    };

                    $.post("{{ path('js') }}",datos,function(response){

                        var $comboclase = $('#sclase');

                        $comboclase.empty();

                        $.each(response,function(i,val){
                            $comboclase.append("<option>"+val+"</option>");
                            /*var hora = $('#sclase').val();
                            alert(hora);*/
                        });
                    },'json');
                }else{
                    //limpiamos combo y pedimos que seleccione un nivel
                    var $comboclase = $('#sclase');
                    $comboclase.empty();
                    $comboclase.val("Seleccione un nivel");
                }
            });
        });
    </script>

{% endblock %}