{% extends "::pbase.html.twig" %}

{% block tittle %} Ventana principal {% endblock %}

{% block docente %}
    <div class="wrapper">
        <header class="main-header">

            <!--Logo-->
            <div class="logo">
                {% if is_granted('ROLE_ADMINISTRADOR') %}
                    <a href="{{ path('principal') }}">
                    <img src="{{ asset('/images/ceniueslogo2.png') }}" width="130" height="50">
                    </a>
                {% elseif is_granted('ROLE_DOCENTE') %}
                    <a href="{{ path('dprincipal') }}">
                    <img src="{{ asset('/images/ceniueslogo2.png') }}" width="130" height="50">
                    </a>
                {% endif %}
            </div>
            <!--Fin de Logo-->

            <!--Barra de Navegacion-->
            <nav class="navbar navbar-static-top" role="navigation">
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!--Boton de Notificaciones-->
                        <!-- <li class="dropdown notifications-menu open">
                             <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                 <i class="fa fa-bell-o"></i>
                                 <span class="label label-warning">10</span>
                             </a>
                         </li>

                        <!--Boton de opciones de usuario-->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="{{ asset('libs/AdminLTE-2.2.0/dist/img/user1-128x128.jpg') }}" class="user-image" alt="User Image">
                                <span class="hidden-xs">Bienvenido {{ app.user }}</span>
                            </a>

                            <!--Menu de opciones de usuario-->
                            {% block BotonOpUsuarioSuperior %}

                                <ul class="dropdown-menu">
                                    <!-- User image -->
                                    <li class="user-header">
                                        <img src="{{ asset('libs/AdminLTE-2.2.0/dist/img/user1-128x128.jpg') }}" class="img-circle" alt="User Image">
                                        <p>
                                            <small>Member since Nov. 2012</small>
                                        </p>
                                    </li>
                                    <!-- Menu Footer-->
                                    <li class="user-footer">
                                        <div class="pull-left">
                                            <a href="#" class="btn btn-default btn-flat">Profile</a>
                                        </div>
                                        <div class="pull-right">
                                            <a href="{{ path('logout') }}" class="btn btn-default btn-flat">Sign out</a>
                                        </div>
                                    </li>
                                </ul>
                            {% endblock %}
                            <!--Fin del menu de opciones de usuario-->
                        </li>
                        <!--Fin de opciones de usuario-->

                        <!--Inicio de Boton de configuracion-->
                        <li>
                            <a href="#" data-toggle="control-sidebar">
                                <i class="fa fa-gears"></i>
                            </a>
                        </li>
                        <!--Fin de Boton de configuracion-->
                    </ul>
                </div>
            </nav>

        </header>

        <!--Columna Izquierda, de logo y barra de navegacion-->
        <aside class="main-sidebar">
            <!--Estilo de barra lateral-->
            <section class="sidebar">

                {% block opcionesMenuLateral %}
                    <!--Opciones de menus-->
                    <ul class="sidebar-menu">
                        <li class="header">OPCIONES DE NAVEGACION</li>

                    {% if is_granted('ROLE_ADMINISTRADOR')  %}
                        <!--Menu para gestion de los fechas-->
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-calendar"></i>
                                <span>Gestionar Fechas</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <!--Sub-Menu de Gestion de Fechas-->
                            <ul class="treeview-menu" style="display: none;">
                                <li>
                                    <a href="{{ path("fechamod") }}">
                                        <i class="fa fa-circle-o"></i>
                                        Gestionar F. Modulos
                                    </a>
                                </li>

                                <li>
                                    <a href="{{ path("fechaniv") }}">
                                        <i class="fa fa-circle-o"></i>
                                        Gestionar F. Niveles
                                    </a>
                                </li>

                                <li>
                                    <a href="{{ path("fechageshoras") }}">
                                        <i class="fa fa-circle-o"></i>
                                        Periodo Gestion de Horas
                                    </a>
                                </li>

                                <li>
                                    <a href="{{ path("fechanotas") }}">
                                        <i class="fa fa-circle-o"></i>
                                        Periodo Ingreso de Notas
                                    </a>
                                </li>
                            </ul>
                            <!--Fin de Sub-Menu de Gestion de Fechas-->
                        </li>
                        <!--Fin menu de gestion de fechas-->

                        <!--Inicio menu de gestion de Docentes-->
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-user"></i>
                                <span>Gestionar Docentes</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>

                            <!--Inicio Sub-Menu gestion de Docentes-->
                            <ul class="treeview-menu" style="display: none;">
                                <li>
                                    <a href="{{ path('agregarD') }}">
                                        <i class="fa fa-circle-o"></i>
                                        Ingresar Docentes
                                    </a>
                                </li>

                                <li>
                                    <a href="{{ path('consultarD') }}">
                                        <i class="fa fa-circle-o"></i>
                                        Consultar Docentes
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <i class="fa fa-circle-o"></i>
                                        Modificar Docentes
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <i class="fa fa-circle-o"></i>
                                        Eliminar Docentes
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <!--Fin de Gestionar Docentes-->

                        <!--Inicia Gestionar Docentes en niveles-->
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-list-alt"></i>
                                <span>Gestionar Docentes en Nivel</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>

                            <!--Inicia Sub-Menu Gestionar Doncetes en Niveles-->
                            <ul class="treeview-menu" style="display: none;">
                                <li>
                                    <a href="#">
                                        <i class="fa fa-circle-o"></i>
                                        Asignar Docente
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <i class="fa fa-circle-o"></i>
                                        Reasignar Docente
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <!--Finaliza Gestionar Docentes en Niveles-->

                        <!--Inicia Gestionar Evaluaciones-->
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-check-square"></i>
                                <span>Gestionar Evaluaciones</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>

                            <!--Inicia Sub-Menu Gestionar Evaluaciones-->
                            <ul class="treeview-menu" style="display: none;">
                                <li>
                                    <a href="{{ path('agreval') }}">
                                        <i class="fa fa-circle-o"></i>
                                        Ingresar Evaluacion
                                    </a>
                                </li>
<!-- Aqui Es donde Joahm toco -->
                                <li>
                                    <a href="">
                                        <i class="fa fa-circle-o"></i>
                                        Consultar Evaluacion
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <i class="fa fa-circle-o"></i>
                                        Eliminar Evaluacion
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <i class="fa fa-circle-o"></i>
                                        Actualizar Evaluacion
                                    </a>
                                </li>
                                <!--Finaliza Sub-menu Gestionar Evaluaciones-->
                            </ul>
                        </li>
                        <!--Finaliza Gestionar Evaluaciones-->

                        <!--Inicia Gestionar Matricula-->
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-user-plus"></i>
                                <span>Gestionar Matricula</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
<!-- Matricula-->
                            <!--Inicia Sub-Menu de Gestionar Matricula-->
                            <ul class="treeview-menu" style="display: none;">
                                <li>
                                    <a href="{{ path('matnuevo') }}">
                                        <i class="fa fa-circle-o"></i>
                                        Matricula Nuevo Ingreso
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('matantiguo') }}">
                                        <i class="fa fa-circle-o"></i>
                                        Matricula Antiguo Ingreso
                                    </a>
                                </li>

                                <li>
                                    <a href="{{ path('examencolocacion') }}">
                                        <i class="fa fa-circle-o"></i>
                                        Matricula por Examen
                                    </a>
                                </li>

                                <li>
                                    <a href="{{ path("desma") }}">
                                        <i class="fa fa-circle-o"></i>
                                        Gestion de Matricula
                                    </a>
                                </li>
                            </ul>
                            <!--Finaliza Sub-Menu de Gestionar Matricula-->
                        </li>
                        <!--Finaliza Gestionar Matricula-->
                    {% endif %}

                    {% if is_granted('ROLE_ADMINISTRADOR') or is_granted('ROLE_DOCENTE') %}
                        <!--Inicia Gestionar Alumnos-->
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-mortar-board"></i>
                                <span>Gestionar Alumnos</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>

                            <!--Inicia Sub-Menu Gestionar Alumnos-->
                            <ul class="treeview-menu" style="display: none;">
                                <li>
                                    <a href="{{ path('antiguo') }}">
                                        <i class="fa fa-circle-o"></i>
                                        Registrar Alumno
                                    </a>
                                </li>

                                <li>
                                    <a href="{{ path('alBuscar') }}">
                                        <i class="fa fa-circle-o"></i>
                                        Modificar Alumno
                                    </a>
                                </li>
                            </ul>
                            <!--Finaliza Sub-Menu Gestionar Alumno-->
                        </li>
                        <!--Finaliza Gestionar Alumnos-->
                    {% endif %}

                    {% if is_granted('ROLE_ADMINISTRADOR') %}
                        <!--Inicia Gestionar Secciones-->
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-cube"></i>
                                <span>Gestionar Secciones</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>

                            <!--Inicia Sub-Menu Gestionar Secciones-->
                            <ul class="treeview-menu" style="display: none;">
                                <li>
                                    <a href="{{ path('secHome') }}">
                                        <i class="fa fa-circle-o"></i>
                                        Gestionar
                                    </a>
                                </li>
                            </ul>
                            <!--Finaliza Sub-Menu Gestionar Secciones-->
                        </li>
                        <!--Finaliza Gestionar Secciones-->
                    {% endif %}

                    {% if is_granted('ROLE_ADMINISTRADOR') or is_granted('ROLE_DOCENTE') %}
                        <!--Inicia Gestionar Notas-->
                        <li class="treeview">
                            <a href="">
                                <i class="fa fa-pencil-square"></i>
                                <span>Gestionar Notas</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>

                            <!--Inicia Sub-Menu Gestionar Notas-->
                            <ul class="treeview-menu" style="display: none;">
                                <li>
                                    <a href="{{ path('ingresarnotas') }}">
                                        <i class="fa fa-circle-o"></i>
                                        Administrar Notas
                                    </a>
                                </li>

                                <li>
                                    <a href="{{ path('consultarnotas') }}">
                                        <i class="fa fa-circle-o"></i>
                                        Consultar Notas
                                    </a>
                                </li>

                            </ul>
                            <!--Finaliza Sub-Menu Gestionar Notas-->
                        </li>
                        <!--Finaliza Gestionar Notas-->

                        <!--Inicia Gestionar Disponibilidad de horas-->
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-clock-o"></i>
                                <span>Gestionar Horas Disponibles</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>

                            <!--Inicia Sub-Menu Disponiblidad de Horas-->
                            <ul class="treeview-menu" style="display: none;">
                                <li>
                                    <a href="#">
                                        <i class="fa fa-circle-o"></i>
                                        Ingresar Horas Disponibles
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <i class="fa fa-circle-o"></i>
                                        Modificar Horas Disponibles
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <i class="fa fa-circle-o"></i>
                                        Consultar Horas Asignadas
                                    </a>
                                </li>
                            </ul>
                            <!--Finaliza Sub-Menu Disponiblidad de Horas-->
                        </li>
                        <!--Finaliza Disponibilidad de horas-->
                    {% endif %}

                    {% if is_granted('ROLE_ADMINISTRADOR') %}
                        <!--Inicia Generacion de Estadisticas-->
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-pie-chart"></i>
                                <span>Estadisticas</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>

                            <!--Inicia Sub-Menu de Generacion de Estadisticas-->
                            <ul class="treeview-menu" style="display: none;">
                                <li>
                                    <a href="{{ path('graf') }}">
                                        <i class="fa fa-circle-o"></i>
                                        Graficas
                                    </a>
                                </li>
                            </ul>
                            <!--Finaliza Sub-Menu de Generacion de Estadisticas-->
                        </li>
                        <!--Finaliza Generacion de Estadisticas-->
                    {% endif %}

                    {% if is_granted('ROLE_ADMINISTRADOR') or is_granted('ROLE_DOCENTE') %}
                        <!--Inicia Generacion de Reportes-->
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-file-text"></i>
                                <span>Reportes</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>

                            <!--Inicia Sub-Menu de Generacion de Reportes-->
                            <ul class="treeview-menu" style="display: none;">
                                <li>
                                    <a href="#">
                                        <i class="fa fa-circle-o"></i>
                                        Distribuciones
                                    </a>
                                </li>

                                <li>
                                    <a href="{{ path("documentoD") }}">
                                        <i class="fa fa-circle-o"></i>
                                        Listado de Docentes
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <i class="fa fa-circle-o"></i>
                                        Distribucion de Docentes
                                    </a>
                                </li>

                                <li>
                                    <a href="{{ path("ainscritos") }}">
                                        <i class="fa fa-circle-o"></i>
                                        Alumnos por nivel
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <i class="fa fa-circle-o"></i>
                                        Record Notas por Alumno
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <i class="fa fa-circle-o"></i>
                                        Notas de Evaluaciones
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <i class="fa fa-circle-o"></i>
                                        Certificados
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <i class="fa fa-circle-o"></i>
                                        Listados de Asistencia
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <i class="fa fa-circle-o"></i>
                                        Notas de Alumnos
                                    </a>
                                </li>

                            </ul>
                        </li>
                        <!--Finaliza Generacion de Reportes-->
                    {% endif %}

                    {% if is_granted('ROLE_ADMINISTRADOR') %}
                        <!--Inicia Gestion de Modulos y Niveles-->
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-book"></i>
                                <span>Modulos y Niveles</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>

                            <!--Inicia Sub-Menu de Gestion de Modulos-->
                            <ul class="treeview-menu" style="display: none;">
                                <li>
                                    <a href="{{ path('gmodulos') }}">
                                        <i class="fa fa-circle-o"></i>
                                        Gestion de Modulos
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <i class="fa fa-circle-o"></i>
                                        Gestion de Niveles
                                    </a>
                                </li>

                            </ul>
                            <!--Finaliza Sub-Menu de Gestion de Modulos y Niveles-->
                        </li>
                    {% endif %}

                        <!--Finaliza Gestion de Modulos-->
                    </ul>
                {% endblock %}
            </section>
        </aside>
        <!--Fin de la barra de navegacion lateral-->

        <!--Captura de contenidos seccion que captura los contenidos de la UI (importante: permite visualizar todos los elementos)-->
        <div class="content-wrapper" style="min-height: 1036px;">

            {% block principal %}
                <!--Cabecera de contenidos-->
                <section class="content-header">
                    <h1>Principal</h1>
                    <ol class="breadcrumb"></ol>
                </section>
                <!--Final de la cabecera de contenidos-->

                <!--Contenido pricipal-->
                <section class="content">
                {% if is_granted('ROLE_ADMINISTRADOR') %}
                    <!--Inicia Primera fila de opciones-->
                    <div class="row">
                        <!--Opcion1 Gestionar Fechas-->
                        <div class="col-lg-3 col-xs-6">
                            <!--Small box-->
                            <div class="small-box bg-aqua">
                                <div class="inner">
                                    <h3>Fechas</h3>
                                    <p>Gestionar</p>
                                </div>
                                <div class="icon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <a  href="{{ path("fechaspricipal") }}" class="small-box-footer">
                                    Click para acceder
                                </a>
                            </div>
                        </div>
                        <!--Fin Opcion1-->

                        <!--Opcion 2 Gestionar Docentes-->
                        <div class="col-lg-3 col-xs-6">
                            <!--Small box-->
                            <div class="small-box bg-fuchsia-active">
                                <div class="inner">
                                    <h3>Docentes</h3>
                                    <p>Gestionar</p>
                                </div>
                                <div class="icon">
                                    <i class="fa fa-user"></i>
                                </div>
                                <a  href="{{ path('dhome') }}" class="small-box-footer">
                                    Click para acceder
                                </a>
                            </div>
                        </div>
                        <!--Fin Opcion 2-->

                        <!--Inicia Opcion 3 Secciones-->
                        <div class="col-lg-3 col-xs-6">
                            <!--Small box-->
                            <div class="small-box bg-purple">
                                <div class="inner">
                                    <h3>Secciones</h3>
                                    <p>Gestionar</p>
                                </div>
                                <div class="icon">
                                    <i class="fa fa-cube"></i>
                                </div>
                                <a  href="{{ path('secHome') }}" class="small-box-footer">
                                    Click para acceder
                                </a>
                            </div>
                        </div>
                        <!--Finaliza Opcion 3-->

                        <!--Opcion 4 Gestionar Evaluaciones-->
                        <div class="col-lg-3 col-xs-6">
                            <!--Small box-->
                            <div class="small-box bg-olive">
                                <div class="inner">
                                    <h3>Evaluaciones</h3>
                                    <p>Gestionar</p>
                                </div>
                                <div class="icon">
                                    <i class="fa fa-check-square"></i>
                                </div>
                                <a  href="{{ path('evalhome') }}" class="small-box-footer">
                                    Click para acceder
                                </a>
                            </div>
                        </div>
                        <!--Fin Opcion 4-->

                    </div>
                    <!--Finaliza Primera Fila de Opciones-->
                {% endif %}

                {% if is_granted('ROLE_ADMINISTRADOR') or is_granted('ROLE_DOCENTE') %}
                    <!--Inicia Segunda Fila de Opciones-->
                    <div class="row">
                        <!--Inicia Opcion 5 Alumnos-->
                        <div class="col-lg-3 col-xs-6">
                            <!--Small box-->
                            <div class="small-box bg-red-active">
                                <div class="inner">
                                    <h3>Alumnos</h3>
                                    <p>Gestionar</p>
                                </div>
                                <div class="icon">
                                    <i class="fa fa-mortar-board"></i>
                                </div>
                                <a  href="#" class="small-box-footer">
                                    Click para acceder
                                </a>
                            </div>
                        </div>
                        <!--Finaliza Opcion 5-->

                        <!--Inicia Opcion 6 Definir Horario-->
                        <div class="col-lg-3 col-xs-6">
                            <!--Small box-->
                            <div class="small-box bg-lime-active">
                                <div class="inner">
                                    <h3>Definir Horario</h3>
                                    <p>Gestionar</p>
                                </div>
                                <div class="icon">
                                    <i class="fa fa-clock-o"></i>
                                </div>
                                <a  href="#" class="small-box-footer">
                                    Click para acceder
                                </a>
                            </div>
                        </div>
                        <!--Finaliza Opcion 6-->

                        <!--Inicia la Opcion 7 Notas-->
                        <div class="col-lg-3 col-xs-6">
                            <!--Small box-->
                            <div class="small-box bg-teal-active">
                                <div class="inner">
                                    <h3>Notas</h3>
                                    <p>Gestionar</p>
                                </div>
                                <div class="icon">
                                    <i class="fa fa-pencil-square"></i>
                                </div>
                                <a  href="{{ path("notasprincipal") }}" class="small-box-footer">
                                    Click para acceder
                                </a>
                            </div>
                        </div>
                        <!--Finaliza la Opcion 7-->

                        <!--Inicia Opcion 8-->
                        <div class="col-lg-3 col-xs-6">
                            <!--Small box-->
                            <div class="small-box bg-yellow">
                                <div class="inner">
                                    <h3>Reportes</h3>
                                    <p>Obtener</p>
                                </div>
                                <div class="icon">
                                    <i class="fa fa-file-text"></i>
                                </div>
                                <a  href="{{ path('rhome') }}" class="small-box-footer">
                                    Click para acceder
                                </a>
                            </div>
                        </div>
                        <!--Finaliza Opcion 8-->
                    </div>
                    <!--Finaliza Segunda Fila de Opciones-->
                    {% endif %}

                {% if is_granted('ROLE_ADMINISTRADOR') %}
                    <!--Inicia Tercerea Fila de Opciones-->
                    <div class="row">
                        <!--Inicia opcion 9 Matricula-->
                        <div class="col-lg-3 col-xs-6">
                            <!--Small box-->
                            <div class="small-box bg-green">
                                <div class="inner">
                                    <h3>Matricula</h3>
                                    <p>Gestionar</p>
                                </div>
                                <div class="icon">
                                    <i class="fa fa-user-plus"></i>
                                </div>
                                <a  href="#" class="small-box-footer">
                                    Click para acceder
                                </a>
                            </div>
                        </div>
                        <!--Fin opcion 9-->

                        <!--Opcion 10 Asignar Docentes en Nivel-->
                        <div class="col-lg-3 col-xs-6">
                            <!--Small box-->
                            <div class="small-box bg-orange">
                                <div class="inner">
                                    <h3>Niveles</h3>
                                    <p>Asignar docentes</p>
                                </div>
                                <div class="icon">
                                    <i class="fa fa-list-alt"></i>
                                </div>
                                <a  href="{{ path('docn') }}" class="small-box-footer">
                                    Click para acceder
                                </a>
                            </div>
                        </div>
                        <!--Fin Opcion 10-->

                        <!--Inicia opcion 11-->
                        <div class="col-lg-3 col-xs-6">
                            <!--Small box-->
                            <div class="small-box bg-gray">
                                <div class="inner">
                                    <h3>Gestionar</h3>
                                    <p>Modulos y Niveles</p>
                                </div>
                                <div class="icon">
                                    <i class="fa fa-book"></i>
                                </div>
                                <a  href="{{ path('gmyn') }}" class="small-box-footer">
                                    Click para acceder
                                </a>
                            </div>
                        </div>
                        <!--Finaliza Opcion 11-->

                        <!--Inicia Opcion 12 Estadisitcas-->
                        <div class="col-lg-3 col-xs-6">
                            <!--Small box-->
                            <div class="small-box bg-light-blue-gradient">
                                <div class="inner">
                                    <h3>Estadisticas</h3>
                                    <p>Obtener</p>
                                </div>
                                <div class="icon">
                                    <i class="fa fa-pie-chart"></i>
                                </div>
                                <a  href="#" class="small-box-footer">
                                    Click para acceder
                                </a>
                            </div>
                        </div>
                        <!--Finaliza Opcion 12-->
                    </div>
                    <!--Finaliza Tercera Fila de Opciones-->
                {% endif %}
                </section>
                <!--Fin de contenido principal-->
            {% endblock %}
        </div>
        <!--Fin de la captura de contenidos-->
    </div>

    {% block javascript2 %}
        {% endblock %}
    {% block fer %}
    {% endblock %}
{% endblock %}