{% extends '::layoutbase.html.twig' %}
{% block title %}
    Nuevo Ingreso
{% endblock %}
{% block principal %}
    <style type="text/css">
        .bs-example{
            margin: 20px;
        }
    </style>
    <head>
        <meta charset="UTF-8">
        <script src="{{ asset('bundles/app/js/jquery-2.1.4.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/app/js/jquery-ui.min.js') }}" type="text/javascript"></script>
    </head>
    <div class="bs-example">
        <div class="container-fluid">
            <h2>Formularios Registro de Alumno</h2>
            {% for flashMessage in app.session.flashbag.get('fracaso') %}
                <script>
                    window.onload = function error(){
                        alertify.error("{{ flashMessage }}.");
                        return false;
                    }
                </script>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('exito') %}
                <script>
                    window.onload = function notificacion(){
                        alertify.log("{{ flashMessage }}.");
                        return false;
                    }
                </script>
            {% endfor %}
            <div class="nav-tabs-custom" data-find="_2">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#padre" data-toggle="tab" aria-expanded="true">Padre</a></li>
                    <li class=""><a href="#responsable" data-toggle="tab" aria-expanded="false">Responsable</a></li>
                    <li class=""><a href="#alumno" data-toggle="tab" aria-expanded="false">Alumno</a></li>
                </ul>
                <div class="tab-content" data-find="_1">
                    <div class="tab-pane active" id="padre">
                        <div class="col-sm-offset-1">
                            <h2>Ingreso de Padres</h2>
                        </div>
                        <form class="form-horizontal contact_form" method="post" action="{{ path('padreinsert') }}">
                            <div class="form-group">
                                <label class="control-label col-sm-3" for="inputPadre">Nombre Padre</label>
                                <div class="col-sm-4">
                                    <input id="inputPadre" class="form-control" type="text" name="nombreP" pattern="[a-zA-Z ]{1,}" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-3" for="inputTrabajoP">Lugar de Trabajo</label>
                                <div class="col-sm-4">
                                    <input id="inputTrabajoP" class="form-control" type="text" name="trabP" pattern="[a-zA-Z ]{1,}" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-3" for="inTelPadre">Telefono</label>
                                <div class="col-sm-4">
                                    <input class="form-control" id="inTelPadre" type="text" name="telP" placeholder="2216-0101" required pattern="[0-9]{4}[-]{1}[0-9]{4}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-3" for="inputMadre">Nombre Madre</label>
                                <div class="col-sm-4">
                                    <input id="inputMadre" class="form-control" type="text" name="nombreM" pattern="[a-zA-Z ]{1,}"required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="control-label col-sm-3" for="momjob">Lugar de trabajo</label>
                                <div class="col-sm-4">
                                    <input id="momjob"  type="text" class="form-control" name="maTrab" pattern="[a-zA-Z ]{1,}" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="control-label col-sm-3" for="momtel">Telefono</label>
                                <div class="col-sm-4">
                                    <input id="momtel"  type="text" class="form-control" name="maTel" placeholder="2216-0101" required pattern="[0-9]{4}[-]{1}[0-9]{4}">
                                </div>
                            </div>
                            <input type="hidden" name="origen" value="padrenuevo">
                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-4">
                                    <input class="btn bg-primary" type="submit" value="Guardar">
                                </div>
                            </div>
                        </form>
                    </div><!-- /.tab-pane -->
                    <div class="tab-pane" id="responsable">
                        <div class="col-sm-offset-1">
                            <h2>Ingreso de Responsable</h2>
                        </div>
                        <form class="form-horizontal contact_form" method="post" action="{{ path('responinsert') }}">
                            <div class="form-group">
                                <label class="control-label col-sm-3" for="inputNombre">Nombre</label>
                                <div class="col-sm-4">
                                    <input id="inputNombre" class="form-control" type="text" name="nombre" pattern="[a-zA-Z]{1,}" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-3" for="inputP">Parentesco</label>
                                <div class="col-sm-4">
                                    <input id="inputP" class="form-control" type="text" name="parentesco" pattern="[a-zA-Z]{1,}" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-3" for="inputtel">Telefono</label>
                                <div class="col-sm-4">
                                    <input id="inputtel" class="form-control" type="text" name="tel" placeholder="2216-0101" required pattern="[0-9]{4}-[0-9]{4}">
                                </div>
                            </div>
                            <input type="hidden" name="origen" value="nuevo">
                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-4">
                                    <input class="btn bg-primary" type="submit" value="Guardar">
                                </div>
                            </div>
                        </form>
                    </div><!-- /.tab-pane -->
                    <div class="tab-pane" id="alumno">

                        <div class="col-sm-offset-1">
                            <h2>Ingreso de Alumno</h2>
                        </div>
                        <form class="form-horizontal contact_form" method="post" action="{{ path('alumnoinsert') }}">
                            <div class="form-group">
                                <label class="control-label col-sm-3" for="inputCarnet">Carnet</label>
                                <div class="col-sm-4">
                                    <input id="inputCarnet" class="form-control" type="text" name="carnet" placeholder="BC11023" required pattern="[a-zA-Z]{2}[0-9]{5}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-3" for="inputPrimer">Primer Nombre</label>
                                <div class="col-sm-4">
                                    <input id="inputPrimer" class="form-control" type="text" name="primer_nombre" pattern="[a-zA-Z]{1,}" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-3" for="inputSegundo">Segundo Nombre</label>
                                <div class="col-sm-4">
                                    <input id="inputSegundo" class="form-control" type="text" name="segundo_nombre" pattern="[a-zA-Z]{1,}" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-3" for="inputPrimerApe">Primer Apellido</label>
                                <div class="col-sm-4">
                                    <input id="inputPrimerApe" class="form-control" type="text" name="primer_apellido" pattern="[a-zA-Z]{1,}" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-3" for="inputSegApe">Segundo Apellido</label>
                                <div class="col-sm-4">
                                    <input id="inputSegApe" class="form-control" type="text" name="segundo_apellido" pattern="[a-zA-Z]{1,}" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-3" for="inputEmail">E-mail</label>
                                <div class="col-sm-4">
                                    <input id="inputEmail" class="form-control" type="email" name="email" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-3" for="inputFecha">Fecha de Nacimiento</label>
                                <div class="col-sm-4">
                                    <input id="inputFecha" class="form-control" type="date" name="fecha_nacimiento" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-3 required" for="inputRespon">Responsable</label>
                                <div class="col-sm-4">
                                    <input class="form-control" type="text" id="inputRespon" name="responsable" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-3 required" for="inputPa">Padre</label>
                                <div class="col-sm-4">
                                    <input class="form-control" type="text" id="inputPa" name="padre" required>
                                </div>
                            </div>
                            <input type="hidden" name="origen" value="nuevo">
                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-4">
                                    <input class="btn bg-primary" type="submit" value="Guardar">
                                </div>
                            </div>
                        </form>

                    </div><!-- /.tab-pane -->
                </div><!-- /.tab-content -->
            </div>
        </div>
    </div>
    <script>
        $('document').ready(
                function(){
                    $('#form_Carnet').autocomplete(
                            {
                                source : {{render(controller('AppBundle:Matricula:json')) }}
                            });
                }
        );
    </script>
    <script>
        $('document').ready(
                function(){
                    $('#inputRespon').autocomplete(
                            {
                                source : {{render(controller('AppBundle:Matricula:jsonResponsable')) }}
                            });
                }
        );
    </script>
    <script>
        $('document').ready(
                function(){
                    $('#inputPa').autocomplete(
                            {
                                source : {{render(controller('AppBundle:Matricula:jsonPadre')) }}
                            });
                }
        );
    </script>
{% endblock %}