{% extends '::layoutbase.html.twig' %}
{% block principal %}
    <div class="container">
        <h2>Modificar Padre</h2>
        <br>
        <form class="form-horizontal" method="post" action="{{ path('padreUp',{'id':id}) }}">
            <div class="form-group">
                <label class="control-label col-lg-2" for="inputPadre">Nombre Padre</label>
                <div class="col-lg-7">
                    <input id="inputPadre" class="form-control" type="text" name="nombreP" value="{{ padre.nombrepadre }}" required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-2" for="inputTrabajoP">Lugar de Trabajo</label>
                <div class="col-lg-7">
                    <input id="inputTrabajoP" class="form-control" type="text" name="tP" value="{{ padre.lugartrabajop }}" required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-2" for="inputtelP">Telefono</label>
                <div class="col-lg-7">
                    <input id="inputtelP" class="form-control" type="text" name="telP" value="{{ padre.telefonotrabajopadre }}" required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-2" for="inputMadre">Nombre Madre</label>
                <div class="col-lg-7">
                    <input id="inputMadre" class="form-control" type="text" name="nombreM" value="{{ padre.nombremadre }}" required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-2" for="inputTrabajoM">Lugar de Trabajo</label>
                <div class="col-lg-7">
                    <input id="inputTrabajoM" class="form-control" type="text" name="tM" value="{{ padre.lugartrabajom }}" required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-2" for="inputtelM">Telefono</label>
                <div class="col-lg-7">
                    <input id="inputtelM" class="form-control" type="text" name="telM" value="{{ padre.telefonotrabajomadre }}" required>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-7">
                    <input class="btn bg-primary" type="submit" value="Guardar Cambios">
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-7">
                    <a class="btn btn-primary" href="{{ path('alBuscar') }}">Regresar</a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}