{% extends '::layoutbase.html.twig' %}
{% block title %}
    Gestionar Secciones
{% endblock %}
{% block principal %}
<div class="container">
    <h3>Agregar nueva Seccion</h3>
    <a href="{{ path('nvoseccion') }}" class="btn btn-primary" title="Agregar">Agregar</a>
</div>
<div class="container-fluid">
    {% if secciones %}
        <h3>Gestionar Secciones</h3>
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <!--Inicia Cabecera de tabla-->
                        <div class="box-header">
                            <h3 class="box-title">Listado de Secciones en el Sistema</h3>
                        </div>
                        <!--Finaliza Cabecera de tabla-->

                        <!--Inicia cuerpo de tabla-->
                        <div class="box-body table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <th> Nombre</th>
                                <th> Opciones</th>
                                </thead>
                                <tbody>
                                {% for sec in secciones %}
                                    <tr>
                                        <td>Seccion {{ sec.nombreseccion}}</td>
                                        <td>
                                            <a href="{{ path('secAct',{'id':sec.idSeccion}) }}" title="Modificar">
                                                <img src="{{ asset('bundles/app/images/actualizar.png') }}">
                                            </a>
                                            <a href="{{ path('secDel',{'id':sec.idSeccion}) }}" title="Eliminar">
                                                <img src="{{ asset('bundles/app/images/delete.png') }}">
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!--Finaliza Cuerpo de tabla-->
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
</div>
{% endblock %}