{% extends "::layoutbase.html.twig" %}

{% block title %} {{ TituloPagina }} {% endblock %}

{% block principal %}
    <div class="pad margin no-print">
    </div>
    <section class="invoice">
        <!-- title row -->
        <div class="row">
            <div class="col-xs-12">
                <h2 class="page-header">
                    <i class="fa fa-globe"></i> Docentes inscritos en el sistema CENIUES
                </h2>
            </div><!-- /.col -->
        </div>

        <!-- Table row -->
        <div class="row">
            <div class="col-xs-12 table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Carnet</th>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                        <th>DUI</th>
                        <th>Residencia</th>
                        <th>Telefono</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for entity in form %}
                        {% if entity.estado %}
                        <tr>
                            <td>{{ entity.getCarnetdocente }}</td>
                            <td>{{ entity.getPrimernombredocente }} {{ entity.getSegundonombredocente }}</td>
                            <td>{{ entity.getPrimerapellidodocente }} {{ entity.getSegundoapellidodocente }}</td>
                            <td>{{ entity.getDui }}</td>
                            <td>{{ entity.getDirecciondocente }}</td>
                            <td>{{ entity.getTelefono }}</td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div><!-- /.col -->
        </div><!-- /.row -->

        <!-- this row will not appear when printing -->
        <div class="row no-print">
            <div class="col-xs-12">
                <a href="{{ path('listadoDocentesPdf') }}" class="btn btn-primary pull-right" ><i class="fa fa-download"></i> Generate PDF</a>
            </div>
        </div>
    </section>
{%  endblock %}