{% extends '::boostrapbase.html.twig' %}
{% block body %}
    <head>
        <meta charset="UTF-8">
        <script src="{{ asset('bundles/app/js/jquery-2.1.4.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/app/js/jquery-ui.min.js') }}" type="text/javascript"></script>
    </head>
    <div class="container">
        <div class="col-sm-offset-1">
            <h2>Ingreso de Alumno</h2>
        </div>
        <form class="form-horizontal" method="post" action="{{ path('alumnoinsert') }}">
            <div class="form-group">
                <label class="control-label col-sm-3" for="inputCarnet">Carnet</label>
                <div class="col-sm-4">
                    <input id="inputCarnet" class="form-control" type="text" name="carnet" required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3" for="inputPrimer">Primer Nombre</label>
                <div class="col-sm-4">
                    <input id="inputPrimer" class="form-control" type="text" name="primer_nombre" required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3" for="inputSegundo">Segundo Nombre</label>
                <div class="col-sm-4">
                    <input id="inputSegundo" class="form-control" type="text" name="segundo_nombre" required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3" for="inputPrimerApe">Primer Apellido</label>
                <div class="col-sm-4">
                    <input id="inputPrimerApe" class="form-control" type="text" name="primer_apellido" required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3" for="inputSegApe">Segundo Apellido</label>
                <div class="col-sm-4">
                    <input id="inputSegApe" class="form-control" type="text" name="segundo_apellido" required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3" for="inputFecha">Fecha de Nacimiento</label>
                <div class="col-sm-4">
                    <input id="inputFecha" class="form-control" type="date" name="fecha_nacimiento" required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3 required" for="inputRespon">Responsable</label>
                <div class="col-sm-4">
                    <input class="form-control" type="text" id="inputRespon" name="responsable" required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3 required" for="inputPa">Padre</label>
                <div class="col-sm-4">
                    <input class="form-control" type="text" id="inputPa" name="padre" required>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-4">
                    <input class="btn bg-primary" type="submit" value="Guardar">
                </div>
            </div>
        </form>
    </div>
    <script>
        $('document').ready(
                function(){
                    $('#inputRespon').autocomplete(
                            {
                                source : {{render(controller('AppBundle:Matricula:jsonResponsable')) }}
                            });
                }
        );
    </script>
    <script>
        $('document').ready(
                function(){
                    $('#inputPa').autocomplete(
                            {
                                source : {{render(controller('AppBundle:Matricula:jsonPadre')) }}
                            });
                }
        );
    </script>
{% endblock %}