{% extends '::layoutbase.html.twig' %}
{% block title %}
    Gestionar Secciones
{% endblock %}
{% block principal %}
    <div class="container-fluid">
            <h3>Gestionar Secciones</h3>
            <section class="content">
                <div>
                    <a class="btn btn-success pull-left" href="{{ path('nvoseccion') }}" style="margin-right: 5px;" title="Agregar"> Agregar Seccion</a>
                </div>
                <div>
                    <a class="btn btn-danger pull-right" href="#" style="margin-right: 5px;" title="Eliminar"> Eliminar Seccion</a>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <br>
                        <div class="box">
                            <!--Inicia Cabecera de tabla-->
                            <div class="box-header">
                                <h3 class="box-title">Listado de Niveles</h3>
                            </div>
                            <!--Finaliza Cabecera de tabla-->

                            <!--Inicia cuerpo de tabla-->
                            <div class="box-body table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                    <th> Nombre</th>
                                    <th>Secciones</th>
                                    <th> Opciones</th>
                                    </thead>
                                    <tbody>
                                    {% for niv in niveles %}
                                        <tr>
                                            <td>{{ niv.nombrenivel }}</td>
                                            <td>
                                               {% for sec in niv.seccionseccion %}
                                                   {{ sec.nombreseccion }}
                                               {% endfor %}
                                            </td>
                                            <td>
                                                <a href="#" title="Añadir">
                                                    <img src="{{ asset('bundles/app/images/add.png') }}">
                                                </a>
                                                <a href="#" title="Eliminar">
                                                    <img src="{{ asset('bundles/app/images/delete.png') }}">
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <!--Finaliza Cuerpo de tabla-->
                        </div>
                    </div>
                </div>
            </section>
    </div>
{% endblock %}